<p>por-pais works!</p>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" action="" autocomplete="off">
            <input [(ngModel)]="termino" class="form-control" type="text" name="termino" id="" placeholder="Buscar pais...">
        </form>
    </div>
</div>
<hr>

<div class="alert alert-danger text-center">
    No se encontro nada con el termino: ABC
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bandera</td>
                    <td>nombre</td>
                    <td>120,000</td>
                    <td>
                        <a href="#">Ver más...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>